{% extends 'base.html' %}

{% block content %}

<h2 class="section-title">
Maintenance Log
</h2>

<form method="POST">

<label>Maintenance Date</label>

<input
type="date"
name="maintenance_date">

<label>Technician Name</label>

<input
name="technician_name">

<label>Issue Reported</label>

<textarea
name="issue_reported">
</textarea>

<label>Resolution Notes</label>

<textarea
name="resolution_notes">
</textarea>

<label>Next Due Date</label>

<input
type="date"
name="next_due_date">

<br><br>

<button
class="btn"
type="submit">

Save Maintenance

</button>

</form>

{% endblock %}